<div class="card flex justify-center">
  <p-accordion>
    <p-accordion-panel value="0">
      <p-accordion-header>
        <p class="AccordionTitle">Valoraciones</p>
      </p-accordion-header>
      <p-accordion-content>
        <div
          class="m-0 flex items-center space-x-3 py-2 border-2 border-solid gap-4 flex-col"
          *ngFor="let rating of ratings"
        >
          <div class="flex w-full gap-[0.2rem]">
            <p-radiobutton
              name="rating"
              [value]="rating.value"
              [(ngModel)]="selectedValue"
              inputId="{{ rating.name }}"
            />
            <label
              class="whitespace-nowrap flex gap-[0.4rem]"
              for="{{ rating.name }}"
            >
              {{ rating.label }}
              <p-rating [ngModel]="rating.value" style="margin: 0" disabled />
            </label>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="1">
      <p-accordion-header>
        <p class="AccordionTitle">Idioma</p>
      </p-accordion-header>
      <p-accordion-content>
        <div
          class="m-0 flex items-center space-x-3 py-2 border-2 border-solid gap-4 flex-col"
          *ngFor="let language of languages"
        >
          <div class="flex w-full gap-[0.2rem]">
            <label
              class="whitespace-nowrap flex gap-[0.4rem] items-center"
              [for]="language.es"
            >
              <input
                type="checkbox"
                [id]="language.es"
                name="language"
                [value]="language.es"
              />
              {{ language.es }}
            </label>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>

    <p-accordion-panel value="2">
      <p-accordion-header>
        <p class="AccordionTitle">Duracion de curso</p>
      </p-accordion-header>
      <p-accordion-content>
        <div
          *ngFor="let duration of durations"
          class="flex w-full gap-[0.2rem]"
        >
          <label
            class="whitespace-nowrap flex gap-[0.4rem] items-center"
            [for]="duration.value"
          >
            <input
              type="checkbox"
              [id]="duration.value"
              name="duration"
              [(ngModel)]="selectedDurations[duration.value]"
              [value]="duration.value"
            />
            {{ duration.label }}
          </label>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="3">
      <p-accordion-header>
        <p class="AccordionTitle">Tema</p>
      </p-accordion-header>
      <p-accordion-content>
        <div *ngFor="let topic of topics" class="flex w-full gap-[0.2rem]">
          <label
            class="whitespace-nowrap flex gap-[0.4rem] items-center"
            [for]="topic.value"
          >
            <input
              type="checkbox"
              [id]="topic.value"
              name="topic"
              [(ngModel)]="selectedTopics[topic.value]"
              [value]="topic.value"
            />
            {{ topic.label }}
          </label>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="4">
      <p-accordion-header>
        <p class="AccordionTitle">Nivel</p>
      </p-accordion-header>
      <p-accordion-content>
        <div *ngFor="let level of levels" class="flex w-full gap-[0.2rem]">
          <label
            class="whitespace-nowrap flex gap-[0.4rem] items-center"
            [for]="level.value"
          >
            <input
              type="checkbox"
              [id]="level.value"
              name="level"
              [(ngModel)]="selectedLevels[level.value]"
              [value]="level.value"
            />
            {{ level.label }}
          </label>
        </div>
        
      </p-accordion-content>
    </p-accordion-panel>
    <p-accordion-panel value="5">
      <p-accordion-header>
        <p class="AccordionTitle">Precio</p>
      </p-accordion-header>
      <p-accordion-content>
        <p class="m-0">
          At vero eos et accusamus et iusto odio dignissimos ducimus qui
          blanditiis praesentium voluptatum deleniti atque corrupti quos dolores
          et quas molestias excepturi sint occaecati cupiditate non provident,
          similique sunt in culpa qui officia deserunt mollitia animi, id est
          laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita
          distinctio. Nam libero tempore, cum soluta nobis est eligendi optio
          cumque nihil impedit quo minus.
        </p>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
