<div class="Page SearchPage">
  <!-- <p-button (onClick)="showErrorToast()" label="Show" /> -->
  <div class="SearchPage_TopFilterPanel">
    <span>
      @if(ShowNumberOfResults){
      <strong>
        {{ Courses.length }}
        {{ CoursesSearched.length === 1 ? "resultado" : "resultados" }} de
        "Javascript"
      </strong>
      }
    </span>
    <div class="SearchPage_TopFilterPanel_Input">
      <p-toast></p-toast>
      <input
        class="border border-red-500"
        type="text"
        placeholder="Search"
        (input)="onInputChange($event)"
        (keyup.enter)="GetCoursesBySearch(inputText)"
      />
    </div>
  </div>

  <div class="SearchPage_Content">
    <div class="SearchPage_Content__SideFilterPanel">
      <app-sidebar-filter-accordion />
    </div>

    <div class="SearchPage_Content__CoursesFiltered">
      @for (Course of Courses; track Course?.id) { @if(Course == null){
      <div>
        <h3 class="text-[1.2rem]">
          Lo sentimos, no hemos encontrado resultados para shikao :c
        </h3>
      </div>
      }@else{
      <app-filtered-course-item
        [id]="Course?.id"
        [title]="Course?.title"
        [description]="Course?.description"
        [courseFrontImage]="Course?.courseFrontImage"
      />
      } }
    </div>
  </div>
</div>
