<div class="Page SearchPage">
  <div class="SearchPage_TopFilterPanel">FilterPanel</div>
  <div class="SearchPage_Content">
    <div class="SearchPage_Content__SideFilterPanel">
   
      <app-sidebar-filter-accordion/>
    </div>
    <div class="SearchPage_Content__CoursesFiltered ">
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
        <app-filtered-course-item/>
    </div>
  </div>
</div>
