<div class="Course">
  <div class="Course_TopContainer">
    <div class="Course_TopContainer__GeneralInfo">
      <h2>Mastering Javascript - Actualizado</h2>
      <h3>Aprende Javascript de una forma profunda</h3>

      <div class="Course_TopContainer__Reviews">
         4.8 <nz-rate class="Course_TopContainer__Reviews_Rate" [ngModel]="4.8" nzDisabled nzAllowHalf></nz-rate>
        <span> 1860 calificaciones 6988 estudiantes </span>
      </div>
    
      <p class="Course_TopContainer__Instructor">Creado por Pablo cruz</p>

      <p class="Course_TopContainer__LastInstructor">Ultima actualizacion 2/2025 Español</p>

    </div>
    <div class="Course_TopContainer__VideoBox">Video</div>
  </div>
  <div class="Course_Details">

    <div class="Course_Details__Topics">
      <h2>Lo que aprenderás</h2>
      <ul class="Course_Details__Topics_List">
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
        <li><p>Javascript</p></li>
      </ul>
    </div>

    <div class="Course_Details__ExtraInfo">
      <h2>Este curso incluye</h2>
      <ul class="Course_Details__ExtraInfo_List">
        <li><p>18 horas</p></li>
        <li><p>18 horas</p></li>
        <li><p>18 horas</p></li>
        <li><p>18 horas</p></li>
      </ul>
    </div>

    <div class="Course_Details__Content">Content</div>

    <div class="Course_Details__Requisites">Requisitos</div>

    <div class="Course_Details__Description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, maxime.
    </div>

    <div class="Course_Details__InstructorInfo">
      <h2>Instructor</h2>
      <p>Pablo Cruz</p>
    </div>

    <div class="Course_Details__Reviews">Reviews</div>

    <div class="Course_Details__Lateral">Lateral</div>

  </div>
</div>
