@import "tailwindcss";

@keyframes zoom-in {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.NavbarPopper {
  @apply bg-white absolute w-[15rem] h-[25rem] top-[3.5rem] right-[1rem]
           shadow-2xl text-red-900 flex flex-col;
        
  animation: zoom-in 0.1s ease-out forwards;

  .CircleHeader{
    @apply w-[4rem] h-[4rem] bg-[var(--second)] rounded-full flex items-center relative ;
  }

  .NavbarPopper_Header{
    @apply flex items-center justify-evenly mb-[1.1rem];

    span{
      @apply text-slate-950;
    }
  }
}


.Navbar {
  @apply h-[4rem] bg-[var(--third)] text-white flex justify-between items-center px-[6%];

  * {
    @apply text-[white];
  }

  .Navbar_Logo {
    @apply text-[1.86rem] mt-[1rem] flex h-[70%] justify-center items-center gap-[0.4rem];
  }

  .Navbar_Options {
    @apply flex gap-[1.5rem] items-center;

    * {
      @apply cursor-pointer text-[0.999rem];
    }

    .option1 {
    }

    .option2 svg {
      @apply hover:fill-red-500 ease-in-out transition duration-100;
    }

    .option3 svg {
      @apply hover:fill-white ease-in-out transition duration-100;
    }

    .option4 {
      div {
        color: black;
      }

      .option4_UserProfileImage {
        @apply w-[3rem] h-[3rem] bg-[var(--second)] rounded-full flex items-center relative;
      }

    
      
    }
  }

  .NavbarPopper_Block{
    @apply w-full bg-sky-600;
  }
}
