<div class="LoginBox PaddingGeneral">
  <!-- Sección de saludo -->
  <div class="LoginBox_Greetings">
    <h2>WELCOME!</h2>
    <p>To keep connected with us please login with your personal info</p>
    <div class="LoginBox_Greetings__Button">Sign In</div>
  </div>

  <!-- Formulario de inicio de sesión -->
  <form [formGroup]="loginForm" class="LoginBox_LoginForm" (ngSubmit)="submitForm()">
    <div class="LoginBox_LoginForm__Title">LOGIN</div>

    <!-- Redes sociales -->
    <div class="LoginBox_LoginForm__SocialNetworks">
      <button class="LoginBox_LoginForm__SocialButton">Facebook</button>
      <button class="LoginBox_LoginForm__SocialButton">Google</button>
      <button class="LoginBox_LoginForm__SocialButton">LinkedIn</button>
    </div>

    <!-- Inputs -->
    <div class="LoginBox_LoginForm__Inputs">
      <nz-form-item class="LoginBox_LoginForm__Inputs_Container">
        <input nz-input formControlName="username" type="text" placeholder="Username" />
      </nz-form-item>

      <nz-form-item class="LoginBox_LoginForm__Inputs_Container">
        <input nz-input formControlName="password" type="password" placeholder="Password" />
      </nz-form-item>
    </div>

    <!-- Botón de envío -->
    <button type="submit" class="LoginBox_LoginForm__SubmitButton" >
      Login
    </button>
  </form>
</div>
