@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family:"Nunito", sans-serif;
    outline: none;
    border:none;
}

:root{
    --primary:#3E75F1;
    --second:#4854E7;
    --bg:#F0F2F5;
    --third:#001529;
}

.anticon{
    width:1.1rem;
}

.ng-untouched{
    width:8rem;
}