<a routerLink="/course/5" class="FilteredCourseItem">
  <div class="FilteredCourseItem_Image">
    <img
      src="https://img-c.udemycdn.com/course/480x270/5422984_16fc_2.jpg"
      alt="course-image"
    />
  </div>
  <div class="FilteredCourseItem_Description">
    <div class="FilteredCourseItem_Description__Title">
      Mastering Javascript - Actualizado
    </div>
    <div class="FilteredCourseItem_Description__Description">
      Aprende Javascript de una forma profunda
    </div>
    <div class="FilteredCourseItem_Description__InstructorInfo">Pablo Cruz</div>
    <div class="FilteredCourseItem_Description__Rate">
      <p>4.8</p>
      <form [formGroup]="ratingForm" (ngSubmit)="submit()">
        <p-rating formControlName="value"></p-rating>
      </form>
    </div>
    <div class="FilteredCourseItem_Description__General"></div>
  </div>
</a>
